body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
}

input, select, button {
  outline: none;
}

.line-through-red {
  text-decoration: line-through;
  color: red;
}
